<table sortable-table (sorted)="onSorted($event)">
  <tr>
    <th sortable-column="id">ID</th>
    <th sortable-column="name">Name</th>
    <th sortable-column="author">Author</th>
    <th sortable-column="published">Year of publication</th>
    <th sortable-column="language">Language</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <tr *ngFor="let book of books">
    <td>
      {{book.id}}
    </td>
    <td>
      {{book.name}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.published}}
    </td>
    <td>
      {{book.language}}
    </td>
    <td>
      <button class="book-edit" (click)="editBookToggle(book);">Edit</button>
    </td>
    <td>
      <button class="book-delete" (click)="deleteBook(book.id)">Delete</button>
    </td>
  </tr>
</table>

<form id="edit" *ngIf="editBookActive" #editForm="ngForm" (ngSubmit)="
    editBookSubmit(editBook.id, editForm);
">
  <input type="text" placeholder="Name" name="book_edit_name" [(ngModel)]="editBook.name" #editName required="required"/>
  <input type="text" placeholder="Author" name="book_edit_author" [(ngModel)]="editBook.author" #editAuthor required="required" />
  <input type="tel" placeholder="Year of publication" name="book_edit_published" [(ngModel)]="editBook.published" #editPublished required="required" maxlength="4" pattern="[0-9]*" />
  <input type="text" placeholder="Language" name="book_edit_language" [(ngModel)]="editBook.language" #editLanguage required="required" />
  <input type="submit" value="submit" />
</form>
<button (click)="addNewToggle()">{{ addNewToggleLabel }}</button>
<form id="add-new" *ngIf="addNewActive" #bookForm="ngForm" (ngSubmit)="addNewSubmit(bookForm);
    bookForm.valid && bookName.value = '';
    bookForm.valid && bookAuthor.value = '';
    bookForm.valid && bookPublished.value = '';
    bookForm.valid && bookLanguage.value = '';">
    <input type="text" placeholder="Name" name="book_name" ngModel #bookName required="required" />
    <input type="text" placeholder="Author" name="book_author" ngModel #bookAuthor required="required" />
    <input type="tel" placeholder="Year of publication" name="book_published" ngModel #bookPublished required="required" maxlength="4" pattern="[0-9]*" />
    <input type="text" placeholder="Language" name="book_language" ngModel #bookLanguage required="required" />
    <input type="submit" value="submit" />
</form>
<button (click)="logout()">Logout</button>
